<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: title"></nav>
<nav th:replace="fragments :: navigation"></nav>


<div class="container">
    <div class="row">
        <form action="delete" method="POST">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cheese : ${cheeses}">
                    <td>
                        <input type="checkbox" th:name="delete" th:value="${cheese.key}"/>
                    </td>
                    <td th:text="${cheese.key}"></td>
                    <td th:text="${cheese.value}"></td>
                </tr>
                </tbody>
            </table>
            <input class="button-danger" id="deleteButton" type="submit" value="delete"/>
        </form>
    </div>
</div>

</body>
</html>