<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:href="@{http://fonts.googleapis.com/css?family=Raleway:400,300,600}" rel="stylesheet" type="text/css"/>

</head>
<body>

<!-- Header image and title -->
<div th:fragment="title" class="container">
    <div class="row">
        <img class="u-max-full-width"
             th:src="@{https://upload.wikimedia.org/wikipedia/commons/4/47/WV_banner_Cheese_in_Munich.jpg}"></img>
    </div>
    <div class="row">
        <h2 th:text="${title}">Default Title</h2>
    </div>
</div>

<div th:fragment="navigation" class="container">

    <div class="row">
        <a class="button" href="/cheese">List</a>
        <a class="button button-primary" href="/cheese/add">Add</a>
    </div>

</div>

</body>
</html>